[submodule "hw1/fsts"]
	path = hw1/fsts
	url = git@github.com:ldmt-muri/alignment-with-openfst.git
[submodule "hw1/wammar-utils"]
	path = hw1/wammar-utils
	url = git@github.com:wammar/wammar-utils.git
[submodule "hw1/creg"]
	path = hw1/creg
	url = git://github.com/redpony/creg.git
[submodule "hw2/wammar-utils"]
	path = hw2/wammar-utils
	url = git://github.com/wammar/wammar-utils.git
